cats_vs_dogs_small
.cats_vs_dogs_small
feature_extraction.keras
convnet_from_scratch.keras
convnet_from_scratch_with_augmentation.keras
checkpoint_path.keras
.checkpoint_path.keras
Plot_at_epoch_0.png
Plot_at_epoch_1.png
Plot_at_epoch_2.png
Plot_at_epoch_3.png
Plot_at_epoch_4.png
Plot_at_epoch_5.png
Plot_at_epoch_6.png
Plot_at_epoch_7.png
Plot_at_epoch_8.png
Plot_at_epoch_9.png
logs_for_chapter_7
.logs_for_chapter_7
images
.images
annotations
.annotations
annotations.tar.gz
.annotations.tar.gz
images.tar.gz
.images.tar.gz
images.tar.gz.1
.images.tar.gz.1
oxford_segmentation.keras
.oxford_segmentation.keras
__MACOSX/
annotations.tar.gz.1
images.tar.gz.2
jena_climate_2009_2016.csv
jena_climate_2009_2016.csv.zip
.annotations.tar.gz.1
.images.tar.gz.2
.jena_climate_2009_2016.csv
.jena_climate_2009_2016.csv.zip
jena_dense.keras
.jena_dense.keras
aclImdb/
aclImdb_v1.tar.gz
.aclImdb/
.aclImdb_v1.tar.gz
binary_lgram.keras
.binary_lgram.keras
binary_2gram.keras
.binary_2gram.keras
one_hot_bidir_lstm.keras
.one_hot_bidir_lstm.keras
embeddings_bidir_gru.keras
.embeddings_bidir_gru.keras
glove.6B.100d.txt
glove.6B.200d.txt
glove.6B.300d.txt
glove.6B.50d.txt
glove.6B.zip
.glove.6B.100d.txt
.glove.6B.200d.txt
.glove.6B.300d.txt
.glove.6B.50d.txt
.glove.6B.zip
embeddings_bidir_gru_with_masking.keras
.embeddings_bidir_gru_with_masking.keras
tfidf_2gram.keras
.tfidf_2gram.keras
checkpoint_path.keras
.checkpoint_path.keras
jena_conv.keras
.jena_conv.keras
jena_lstm.keras
.jena_lstm.keras
embeddings_bidir_gru_with_masking.keras
.embeddings_bidir_gru_with_masking.keras
glove_embeddings_sequence_model.keras
.glove_embeddings_sequence_model.keras
glove.6B.zip.1
.glove.6B.zip.1
spa-eng.zip
spa-eng/
transformer_encoder.keras
.spa-eng.zip
.spa-eng/
.transformer_encoder.keras
checkpoint_path.keras
feature_extraction_with_data_augmentation.keras
fine_tuning.keras
.feature_extraction_with_data_augmentation.keras
.fine_tuning.keras