cats_vs_dogs_small
.cats_vs_dogs_small
feature_extraction.keras
convnet_from_scratch.keras
convnet_from_scratch_with_augmentation.keras
checkpoint_path.keras
.checkpoint_path.keras
Plot_at_epoch_0.png
Plot_at_epoch_1.png
Plot_at_epoch_2.png
Plot_at_epoch_3.png
Plot_at_epoch_4.png
Plot_at_epoch_5.png
Plot_at_epoch_6.png
Plot_at_epoch_7.png
Plot_at_epoch_8.png
Plot_at_epoch_9.png
logs_for_chapter_7
.logs_for_chapter_7
images
.images
annotations
.annotations
annotations.tar.gz
.annotations.tar.gz
images.tar.gz
.images.tar.gz
images.tar.gz.1
.images.tar.gz.1
oxford_segmentation.keras
.oxford_segmentation.keras
__MACOSX/
annotations.tar.gz.1
images.tar.gz.2
jena_climate_2009_2016.csv
jena_climate_2009_2016.csv.zip
.annotations.tar.gz.1
.images.tar.gz.2
.jena_climate_2009_2016.csv
.jena_climate_2009_2016.csv.zip
jena_dense.keras
.jena_dense.keras
aclImdb/
aclImdb_v1.tar.gz
.aclImdb/
.aclImdb_v1.tar.gz
binary_lgram.keras
.binary_lgram.keras
binary_2gram.keras
.binary_2gram.keras
one_hot_bidir_lstm.keras
.one_hot_bidir_lstm.keras
